@media screen and (max-width: 990px) {
  .dropdown{
    display: none;
  }
  h2 br{display: none;}
  .accordian{margin-left: 0;}

  .solution-sec .title .float-txt{
    top: -60px;
    right: 307px;
    font-size: 109px;
  }
  .about-pg-rotate-box{
    display: none;
  }
.rotate-box{
    display: none;
}
  .main-header img{
    width: 195px;
  }
  .play-btn{
    display: block;
    width: 152px;
}
.solution-sec.inner-about-sec .title .float-txt {
    right: 277px;
    top: -69px;
    font-size: 115px;
}
.bout-inner-services-content-bx h6 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.bout-inner-services-content-bx h6 br{
  display: none;
}
.about-sec.inner-about-sec .title .float-txt {
    right: 440px;
    top: -69px;
    font-size: 115px;
}
.blog-section.inner-about-sec .title .float-txt {
    right: 455px;
    top: -69px;
    font-size: 115px;
}
.blog-section .title.mb-5{
      margin-bottom: 2rem !important;
}
.blog-section.inner-content-about .inner-content-papra{
  margin-top: 10px;
}
.contact-sec .inner-about-pg-hero h2 br{
  display: none;
}
.contact-sec .inner-about-pg-hero h2 {
    font-size: 87px !important;
}
.contact-sec.contact-sec .title .float-txt{
  top: -61px;
  right: 336px;
  font-size: 111px;
}
.cotact-info p{
  padding-top: 2rem;
}
.faq-section .title .float-txt{
  top: -73px;
  right: 471px;
  font-size: 121px;
}
.faq-section .title.mb-5{
  margin-bottom: 2rem !important;
}
.faq-section .inner-content-about .inner-content-papra{
  margin-top: 10px;
}
.hero-content{
  top: -569px;
}
.hero-banner h1 {
  margin: 255px 0 0rem;
  font-size: 55px;
}
.hero-content p {
  font-size: 20px;
}
.hero-banner .ltr1{
  top: 207px;
  right: 0;
  font-size: 100px;
}
.hero-banner .ltr2{
  bottom: -490px;
  font-size: 100px;
}
.technologies-sec .row{
  gap:0 !important;
  justify-content: inherit !important;
}

.technologies-bx .tech-img-bx{
  height: 109px;
  width: 100%;
  margin-bottom: 1.8rem;
}

.technologies-bx .tech-img-bx img {
    width: 190px;
}

.service-head-img{
  display: none;
}

.service-sec .title .float-txt{
  top: -81px;
  right: 307px;
  font-size: 128px;
}
.service-sec.pt-pb {
    padding-bottom: 5rem !important;
}
.srvc-inn-pg-sec.sec-padding2 {
    padding: 3rem 0;
}
.vision-sec .main-text{
  font-size: 2rem;
  margin-bottom: 25px;
}
.platform-sec .title .float-txt{
  top: -64px;
  right: 319px;
  font-size: 100px;
}
.advertisers-sec .shap img {
  display: none;
}
.advertisers-sec .title .float-txt{
  top: -64px;
  right: 264px;
  font-size: 100px;
}
.publisher-sec .title .float-txt{
  top: -65px;
  right: 305px;
  font-size: 100px;
}
.publisher-sec .shap{
  display: none;
}
.ndustries-banner-sec .title .float-txt{
  top: -65px;
  right: 320px;
  font-size: 100px;
}
.login-form-sec .form-container {
  height: inherit;
  width: 100%;
}
.login-form-sec .back-btn {
  padding: 1rem 1rem;
  margin: 1rem 0 0 0rem;
}
.footer-sec {
    position: relative;
    overflow-x: hidden;
    background: url(../assets/footerbg1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 76%;
    background-size: 100%;
}
header{
  padding: 1.3rem 0;
}
.about-sec .inner-content-about {
    margin-top: -10px;
}
.inner-content-about .inner-content-papra {
  max-width: inherit;
  }
.inner-content-about .inner-content-papra {
  margin-top: 0px;
 }
}

@media screen and (max-width: 767px){
  h2.fsz-50{
    font-size: 40px !important;
  }
  h2 br{
    display: none;
  }
   h6 br{
    display: none;
  }
  .home-contact-info{display: none;}
  .side-menue-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  
  .head-services{display: none;}
  .hero-banner{
    overflow-y: hidden;
    background-size: 973px;
  }
  .hero-banner::after{
    background-position: top center;
    background-size: 340px;
    height: 100vh;
  }
  .hero-content .txt{
    font-size: 47px;
  }
  .hero-content h1 .item small{
    font-size: 22px;
  }
  .hero-banner .ltr1{
    top: 154px;
    right: 19px;
    font-size: 100px;
  }
  .hero-banner .ltr2{
    bottom: -117px;
    left: 0;
    font-size: 100px;
  }
  .about-sec.pt-pb{
    padding: 5rem 0;
  }
  .services-sec.pt-pb{
    padding: 5rem 0;
  }
  .features-sec.pt-pb{
    padding: 5rem 0;
  }
  .testimonial-sec.pt-pb{
    padding: 5rem 0;
  }
  .numbers-sec.pt-pb{
    padding: 5rem 0;
  }
  .clients-sec.pt-pb{
    padding: 5rem 0;
  }
  .blog-sec.pt-pb{
    padding: 5rem 0;
  }
  .about-sec .title h2{
    font-size: 32px !important;
  }
  .features-sec .cards .feat-card h6 br{
    display: none;
  }
  .testimonial-sec .fsz-50{
    font-size: 40px !important;
  }
  .testimonial-sec .testi-card .main-txt{
    font-size: 20px;
  }
  .testimonial-sec .testi-card .user-info .fsz-24{
    font-size: 20px !important;
  }
  .testimonial-sec .testi-card .user-info .butn-1{
    font-size: 14px;
  }
  .clients-sec .fsz-50{
    font-size: 40px !important;
  }
  .footer-sec p{
    text-align: center;
  }
  .footer-sec .foot-links{
    text-align: center !important;
  }
  .footer-sec .foot-links.mt-5{
    margin-top: 0.8rem !important;
  }
  .testimonial-sec .testi-card .rate-wrapper{
    flex-wrap: wrap;
  }
  .hero-banner h1{
    margin: 70px 0 100px;
  }
  /* .blog-sec .title-wrapper .row{
    flex-direction: row-reverse;
  } */

  .solution-sec .title.mb-5{
    margin-bottom: 2rem !important;
  }
  .inner-content-about .inner-content-papra{
    margin-top: 0;
  }
  .solution-sec .title .float-txt{
    top: -60px;
    right: 193px;
    font-size: 93px;
  }
  .footer-sec .links-wrapper{
    padding: 70px 0;
  }
  
  .about-sec .title.mb-5{
    margin-bottom: 2rem !important;
  }

  .about-sec .title{
    padding-top: 50px;
  }
  .solution-sec.inner-about-sec .title .float-txt {
    right: 216px;
    top: -52px;
    font-size: 83px;
  }
  .client-logo-shap{
    top: -27px;
    right: 5px;
  }
  .client-logo-shap {
    top: -36px;
    right: -6px;
  }
  .about-sec.inner-about-sec .title .float-txt {
    right: 264px;
    top: -25px;
    font-size: 112px;
}
  .blog-section.inner-about-sec .title .float-txt {
    right: 274px;
    top: -69px;
    font-size: 115px;
  }
  .contact-sec.contact-sec .title .float-txt {
    top: -61px;
    right: 206px;
    font-size: 95px;
    }
  .faq-section .title .float-txt{
    right: 295px;
  }
  .hero-banner video{
    width: auto;
    height: 500px;
  }
  .hero-banner h1 {
    margin: 70px 0 10px;
  }
  .hero-banner .ltr1{
    top: 20px;
  }
  .hero-banner .ltr2{
    bottom: -292px;
  }
  .hero-content {
    top: -424px;
  }
  .service-sec .title .float-txt{
    right: 169px;
    font-size: 115px;
  }
  .platform-sec .title .float-txt{
    top: -64px;
    right: 169px;
  }
  .advertisers-sec .title .float-txt{
    right: 73px;
  }
  .publisher-sec .title .float-txt {
    top: -62px;
    right: 174px;
    font-size: 89px;
  }

  .ndustries-banner-sec .title .float-txt {
    top: -54px;
    right: 208px;
    font-size: 83px;
  }
  .login-form-sec .form-container .form-img{
    display: none;
  }
  .back-box .back-btn {
    margin: 0 0 0 3rem;
}
  .main-header img {
    width: 150px;
  }
  .ques-icon{
    display: none;
  }
}

@media screen and (max-width: 576px){
  .hero-content .txt{
    font-size: 40px;
    margin-bottom: 3px;
  }
  .hero-content small{
    font-size: 17px;
  }
  .hero-banner .ltr1{
    top: 97px;
  }
  .hero-banner .ltr2{
    left: 9px
  }
  
  .hero-content h1{
    padding: 0 6px;
  }

  .hero-banner::after{
    background-size: 320px;
  }
  .solution-sec .title .float-txt{
    right: 162px;
    font-size: 83px;
  }
  
  .solution-sec.inner-about-sec .title .float-txt {
    right: 202px;
  }
  .solution-sec.inner-about-sec .title .float-txt {
    right: 158px;
  }
  .client-logo-shap {
    top: -36px;
    right: -6px;
  }
  .about-sec.inner-about-sec .title .float-txt {
        right: 207px;
        top: -25px;
        font-size: 112px;
    }
.blog-section.inner-about-sec .title .float-txt {
    right: 216px;
    top: -69px;
    font-size: 115px;
  }
  .contact-sec.contact-sec .title .float-txt {
    right: 162px;
    font-size: 91px;
  }
  .faq-section .title .float-txt{
    right: 295px;
  }
  .faq-section .title .float-txt {
    right: 235px;
  }
  .capability-content {
    margin-bottom: 2rem;
  }
  .clients-sec .cards .logo{
    height: 145px;
    width: 319px;
    margin: 18px auto;
  }
  .clients-sec .cards .logo img {
    width: 80%;
  }
  .hero-banner .ltr1{
    top: 0;
  }
  .hero-content{
    padding: 0 1rem;
  }
  .about-inner-pg-client-sec .cards .logo {
    height: 145px;
    width: 319px;
    margin: 18px auto;
  }
  .about-inner-pg-client-sec .cards .logo img {
    width: 80%;
  }
  .service-sec .title .float-txt{
    font-size: 96px;
    top: -64px;
  }
 .platform-sec .title .float-txt {
    top: -56px;
    right: 169px;
    font-size: 83px;
  }
  .advertisers-sec .title .float-txt {
    right: 13px;
  }
  .advertisers-sec .title .float-txt {
    right: 152px;
    top: -55px;
    font-size: 70px;
  }
  .publisher-sec .title .float-txt {
    top: -53px;
    right: 189px;
    font-size: 70px;
  }
  .ndustries-banner-sec .title .float-txt {
    top: -51px;
    right: 173px;
    font-size: 76px;
  }
}

@media screen and (max-width: 479px){
  .hero-content h1 .item small {
    font-size: 19px;
  }
  .hero-content .txt{
    font-size: 30px;
  }
  .hero-banner::after {
    background-size: 308px;
  }
  .solution-sec .title .float-txt {
    right: 134px;
    font-size: 63px;
    top: -50px;
  }
  .solution-sec.inner-about-sec .title .float-txt {
    right: 140px;
    top: -39px;
    font-size: 60px;
  }
   
  .client-logo-shap {
    top: -118px;
    right: -6px;
  }
  .about-sec.inner-about-sec .title .float-txt {
    right: 127px;
    top: -20px;
    font-size: 103px;
  }
  .blog-section.inner-about-sec .title .float-txt {
    right: 122px;  
  }
  .contact-sec .inner-about-pg-hero h2 {
    font-size: 67px !important;
  }
  .contact-sec.contact-sec .title .float-txt {
    right: 126px;
    font-size: 72px;
  }
  .faq-section .title .float-txt {
    right: 135px;
  }
  .hero-banner .ltr2 {
    bottom: -333px;
  }
  .hero-content p {
    font-size: 18px;
  }
  .service-sec .title .float-txt{
    font-size: 75px;
    top: -55px;
    right: 132px;
  }
  .platform-sec .title .float-txt {
    top: -49px;
    right: 123px;
    font-size: 68px;

  }
  .advertisers-sec .title .float-txt {
    right: 137px;
    top: -44px;
    font-size: 52px;
  }
  .publisher-sec .title .float-txt {
    top: -53px;
    right: 125px;
    font-size: 60px;
  }
  .ndustries-banner-sec .title .float-txt {
    top: -51px;
    right: 141px;
    font-size: 58px;
  }
  .about-sec.sec-padding{
    padding: 0 0 4rem;
  }
}



