@media screen and (max-width: 990px) {
  .dropdown{
    display: none;
  }
  h2 br{display: none;}
  .accordian{margin-left: 0;}

  .solution-sec .title .float-txt{
    top: -60px;
    right: 307px;
    font-size: 109px;
  }
  .about-pg-rotate-box{
    display: none;
  }
.rotate-box{
    display: none;
}
  .main-header img{
    width: 90px;
  }
  .play-btn{
    display: block;
    width: 32%;
}
.inner-about-sec .title .float-txt {
    right: 441px;
    top: -69px;
    font-size: 115px;
}

}

@media screen and (max-width: 767px){
  h2.fsz-50{
    font-size: 40px !important;
  }
  h2 br{
    display: none;
  }
   h6 br{
    display: none;
  }
  .home-contact-info{display: none;}
  .side-menue-grid{
    grid-template-columns: repeat(1, 1fr);
  }
  
  .head-services{display: none;}
  .hero-banner{
      overflow-y: hidden;
      background-size: 973px;
  }
  .hero-banner::after{
    background-position: top center;
    background-size: 340px;
    height: 100vh;
  }
  .hero-content .txt{
      font-size: 47px;
  }
  .hero-content h1 .item small{
    font-size: 22px;
  }
  .hero-banner .ltr1{
    top: 154px;
    right: 19px;
    font-size: 100px;
  }
  .hero-banner .ltr2{
    bottom: -117px;
    left: 0;
    font-size: 100px;
  }
  .about-sec.pt-pb{
    padding: 5rem 0;
  }
  .services-sec.pt-pb{
    padding: 5rem 0;
  }
  .features-sec.pt-pb{
    padding: 5rem 0;
  }
  .testimonial-sec.pt-pb{
    padding: 5rem 0;
  }
  .numbers-sec.pt-pb{
    padding: 5rem 0;
  }
  .clients-sec.pt-pb{
    padding: 5rem 0;
  }
  .blog-sec.pt-pb{
    padding: 5rem 0;
  }
  .about-sec .title h2{
    font-size: 32px !important;
  }
  .features-sec .cards .feat-card h6 br{
    display: none;
  }
  .testimonial-sec .fsz-50{
    font-size: 40px !important;
  }
  .testimonial-sec .testi-card .main-txt{
    font-size: 20px;
  }
  .testimonial-sec .testi-card .user-info .fsz-24{
    font-size: 20px !important;
  }
  .testimonial-sec .testi-card .user-info .butn-1{
    font-size: 14px;
  }
  .clients-sec .fsz-50{
    font-size: 40px !important;
  }
  .footer-sec p{
    text-align: center;
  }
  .footer-sec .foot-links{
    text-align: center !important;
  }
  .footer-sec .foot-links.mt-5{
    margin-top: 0.8rem !important;
  }
  .testimonial-sec .testi-card .rate-wrapper{
    flex-wrap: wrap;
  }
  .hero-banner h1{
    margin: 70px 0 100px;
  }
  /* .blog-sec .title-wrapper .row{
    flex-direction: row-reverse;
  } */

  .solution-sec .title.mb-5{
    margin-bottom: 2rem !important;
  }
  .inner-content-about .inner-content-papra{
    margin-top: 32px;
  }
  .solution-sec .title .float-txt{
    top: -60px;
    right: 193px;
    font-size: 93px;
  }
  .footer-sec .links-wrapper{
    padding: 70px 0;
  }
  .about-sec .inner-content-papra {
    margin-top: 32px;
    }
  .about-sec .title.mb-5{
    margin-bottom: 2rem !important;
  }

  .about-sec .title{
    padding-top: 50px;
  }
  .inner-about-sec .title .float-txt {
    right: 268px;
    top: -25px;
    font-size: 115px;
  }

}

@media screen and (max-width: 576px){
  .hero-content .txt{
    font-size: 40px;
  }
  .hero-content small{
    font-size: 17px;
  }
  .hero-banner .ltr1{
    top: 97px;
  }
  .hero-banner .ltr2{
    left: 9px
  }
  
  .hero-content h1{
    padding: 0 6px;
  }

  .hero-banner::after{
    background-size: 320px;
  }
  .solution-sec .title .float-txt{
    right: 162px;
    font-size: 83px;
  }
  .play-btn{
    width: 35%;
  }

  .inner-about-sec .title .float-txt {
    right: 202px;
  }

}

@media screen and (max-width: 479px){
    .hero-content h1 .item small {
        font-size: 19px;
    }
    .hero-content .txt{
      font-size: 30px;
    }
    .hero-banner::after {
      background-size: 308px;
    }
    .solution-sec .title .float-txt {
      right: 134px;
      font-size: 63px;
      top: -50px;
    }
}